@import '../../variables.scss';

.accomodation__tagList__tag{
    background-color: $primary-color;
    padding: 4px 18px;
    border-radius: 18px;

    &__name{
        color: white;
        font-size: 0.8em;
    }
}