@import '../../variables.scss';

.accomodation{
    @include margin;

    &__tagList{
        list-style-type: none;
        display: flex;
        gap: 8px;
    }

    &__rate{
        display: flex;
    }
}