@import '../../variables.scss';

.first-accomodation-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.second-accomodation-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        margin: 0;
      }
}

.accomodation {
    @include margin;
    display: flex;
    justify-content: space-between;

    &__informations {

        &__title {
            color: $primary-color;
            font-size: 1.3em;
            font-weight: 500;

            @media (max-width: $breakpoint-mobile) {
                font-size: 1.8em;
                margin: 0;
              }
        }

        &__location {
            color: $primary-color;
            @media (max-width: $breakpoint-mobile) {
                font-size: 1.5em;
                margin: 8px 0;
              }
        }

        &__tagList {
            list-style-type: none;
            padding: 4px 0;
            display: flex;
            gap: 8px;
        }
    }

    &__host {

        @media (max-width: $breakpoint-mobile) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
          }

        &__information {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 6px;

            @media (max-width: $breakpoint-mobile) {
                justify-content: center;
              }

            &__name {
                color: $primary-color;
                padding: 4px;
            }

            &__picture {
                padding: 4px;
                

                &__img {
                    border-radius: 50%;
                    height: 70px;

                    @media (max-width: $breakpoint-mobile) {
                        height: 48px;
                      }
                }
            }
        }

        &__rate {
            display: flex;

            @media (max-width: $breakpoint-mobile) {
                justify-content: center;
                padding-left: 0px;
              }
        }
    }
}


.third-accomodation-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    gap: 40px;

    
    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        gap: 0;
      }
}

.third-accomodation-wrapper span{
    display: block;
}

