.header {
    margin: 24px 32px;
    display: flex;
    justify-content: space-between;
    &__logo-kasa{
        max-width: 200px;
    }
    &__nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        & a {
            margin: 0 12px;
            &-link{
                text-decoration: none;
                margin: 8px;
            }
            &-active {
                text-decoration: underline;
            }
        }
        
    }
}