@import '../../variables.scss';

.gallery {
    @include margin;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
        background-color: $second-color;
        padding: 16px;
        column-gap: 16px;
        row-gap: 16px;
    }
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        column-gap: 20px;
    }

    &__card{
        height: 340px;

        &__link{
            width: 100%;
            height: 100%;
            position: relative;

            &__img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                

                &__title{
                    position: absolute;
                    bottom: 0px;
                    color: white;
                    padding: 0 8px;
                }
            }
        }
    }
}