@import '../../variables.scss';

.footer {
    height: 108px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    @media (max-width: $breakpoint-mobile) {
        height: 80px;
      }

    &__logo{
        color: white;
        max-width: 125px;

        @media (max-width: $breakpoint-mobile) {
            max-width: 100px;
          }
    }

    &__text{
        color: white;
    }
}