@import './variables.scss';

html {
    @include main-font;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	color: $primary-color;
	@include no-margin;
}


a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}